<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="custom.css">
    <title>Bisonterapia | Appointments</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('include/header.ejs', {userdata: locals.user}) %>

    
    <div class="container-sm">
        <h1 style="align-self: center;">Agendar una cita</h1>
        <form action="/appointment" method="post">
            <div class="mb-3">
              <label for="descriptionarea" class="form-label">¿Como te podemos ayudar?</label>
              <textarea type="email" class="form-control" id="descriptionarea" aria-describedby="descriptionhelp" name="description" required></textarea>
              <div id="descriptionhelp" class="form-text">Danos un poco de contexto para poder darte una mejor atencion</div>
            </div>
            <select class="form-select" aria-label="Default select example" name="specialist" required>
                <option selected>Elige un especialista</option>
                <% if (Array.isArray(locals.mentors)) { %>
                  <% locals.mentors.forEach(mentor => { %>
                    <option value="<%= mentor.name %>"><%= mentor.name %></option>
                  <% }); %>
                <% } %>
              </select>
            <div class="mb-3 form-check row">
              <input type="date" id="selectDate" name="appointmentDate" required>
              <input type="time" id="selectHour" name="appointmentHour" step="3600" required>
              <!-- <label class="form-check-label" for="selectDate">Check me out</label> -->
            </div>
            <div id="extranote" class="form-text">Usaremos tu numero de telefono por cualquier aviso</div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>

    <script src="appointments.script.js"></script>
    <script src="bootstrap.bundle.min.js"></script>
    
</body>

</html>