<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="custom.css">
    <title>Foro</title>
</head>
<body>
    <%- include('include/header.ejs')  %>

    <div class="posts">
        <%- include('include/post.ejs') %>
    </div>
</body>
</html>