<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="custom.css">
    <title>Bisonterapia | Home</title>
</head>

<body>
    <!-- HEADER -->
    <%- include('include/header.ejs', {userdata: locals.user}) %>
        <div class="main">
            <h1>¿Necesitas ayuda?</h1>
            <h3>Puedes contar con nosotros</h3>
            <svg viewBox="0 0 500 150" preserveAspectRatio="none"
                style="position:absolute; height: 150px; width: 100%; bottom: -1px;">
                <path d="M0.00,49.98 C149.99,150.00 349.20,-49.98 500.00,49.98 L500.00,150.00 L0.00,150.00 Z"
                    style="stroke: none; fill: #fff;"></path>
            </svg>
        </div>

        <section class="specialistSection">
            <div class="sp_img">
                <img src="specialist.svg" alt="Imagen de una especialista">
            </div>

            <div class="sp_card-1 bg-custom-light rounded p-3 mt-3">
                <div class="specialistCard">
                    <div class="card--title">Los mejores especialistas</div>
                    <p class="card--text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium minus,
                    similique ipsam aliquid quam sapiente veniam eligendi quae dolor dignissimos.</p>
                    <div class="card--icon">
                        <img src="icon_forum.svg" alt="Icono del foro" style="color: white;">
                    </div>
                </div>
            </div>
            <div class="sp_card-2 bg-custom-light rounded p-3 mt-3">
                <div class="specialistCard">
                    <div class="card--title">La comunidad está contigo</div>
                    <p class="card--text">Lorem ipsum dolor sit, amet consectetur adipisicing elit. Accusantium minus,
                    similique ipsam aliquid quam sapiente veniam eligendi quae dolor dignissimos.</p>
                    <div class="card--icon">
                        <img src="icon_specialist.svg" alt="Icono de especialista">
                    </div>
                </div>
            </div>
        </section>

        <!-- FILTER -->
        <filter id='shadow' color-interpolation-filters="sRGB">
            <feDropShadow dx="2" dy="2" stdDeviation="3" flood-opacity="0.5" />
        </filter>

        <script src="bootstrap.bundle.min.js"></script>
</body>

</html>