<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="custom.css">
    <title>Bisonterapia | Citas Agendadas</title>
</head>
<body>
    <%- include('include/header.ejs', {userdata: locals.user})  %>

    <div class="container-sm py-4">
        <% if(Array.isArray(locals.appointments) && locals.appointments.length > 0) { %>
            <% locals.appointments.forEach(appointment => { %>
              <%- include('include/card.ejs', { appointment: appointment }) %>
            <% }); %>
          <% } else { %>
            <p>No hay publicaciones disponibles.</p>
          <% } %>
    </div>

    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>