<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="bootstrap.min.css">
    <!-- Custom css -->
    <link rel="stylesheet" href="custom.css">
    <title>Bisonterapia | Iniciar sesion</title>
</head>
<body id="login">
    <!-- HEADER -->
    <%- include('include/header.ejs')  %>
    
    <div class="form needs-validation" novalidate>
        <form action="/login" method="post" class="text-center">
            <div class="mb-3">
                <label for="nControl" class="form-label">Numero de control</label>
                <input type="number" class="form-control" id="nControl" name="n_control" pattern="[0-9]{8}" required>
            </div>
            <div class="mb-3">
                <label for="pass" class="form-label">Contraseña</label>
                <input type="password" class="form-control" id="pass" required name="password">
            </div>
            <button type="submit" class="btn btn-primary">Iniciar sesión</button>
        </form>
        <% if (locals.error) { %>
            <p style="color: red; margin-top: 20px;"><b><%= locals.error %></b></p>
        <% } %>
    </div>

    <script src="bootstrap.bundle.min.js"></script>
</body>
</html>