* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;

}

a:visited {
    color: initial;
    /* Puedes establecer el color que desees */
    text-decoration: none;
}

:root {
    --bg-color: #bfc0c0;
    --navbar-color: #f0f7fd9d;
}

body {
    min-height: 100vh;
    min-width: 400px;

    background-color: #fff;
}

.bghome {
    /* position: absolute;
    top: 0; */
    background: url('bg.jpg');
    background-position: center;
    background-repeat: no-repeat;
}

/* Restart styles */
h4 {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------BEM COMPONENTS--------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.btn-addPost {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
}

.post {
    width: 400px !important;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------MAIN-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.main {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: calc(100vh - 100px);
    width: 100%;
    background: url('bg.jpg');
    background-position: -300px 0;
    background-size: cover;
    background-repeat: no-repeat;
}

.main>h1,
.main>h3 {
    position: relative;
    top: -50px;
    color: white;
    font-weight: 900;
    text-shadow: 1px 1px 10px rgba(0, 0, 0, 0.5);
}


.carousel {
    position: relative;
    top: 100px;
    max-width: 100vh;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------SPECIALIST SECTION------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.specialistSection {
    display: grid;

    width: 100%;
    height: 800px;
    /* background-color: purple; */

    margin: 20px 0;
}

.sp_img {
    grid-area: img;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sp_img>img {
    width: auto;
    height: 70%;
}

.specialistCard {
    position: relative;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    height: 90%;
    max-width: 500px;
    /* background-color: red; */
    border-radius: 5px;
    padding: 10px;
}

.sp_card-1 {
    /* background-color: black; */
    grid-area: container1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sp_card-2 {
    grid-area: container2;
    /* background-color: yellow; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card--title {
    font-weight: 700;
    color: black;
    font-size: 24px;
}

.card--icon {
    position: absolute;
    top: 10px;
    right: 10px;
}

.card--text {
    text-align: center;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------NAV-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.color--header {
    background-color: var(--bg-color);
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------SIGUP-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 450px; */
    /* width: 450px; */
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0.1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 25px;
    max-width: 520px;
    min-width: 300px;
    width: 90%;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------FORO-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.posts {
    padding: 20px 40px;
    height: calc(100% - 126px);

    display: flex;
    flex-direction: column;
    align-items: center;

    /* background-color: blue; */
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------EXTRAS------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.toast {
    /* display: flex !important; */
    z-index: 1;
    position: absolute;
    /* height: 150px !important; */
    bottom: 20px;
    right: 20px;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------MEDIA QUERIES---------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

@media screen and (min-width: 380px) {

    .main {
        height: calc(100vh - 50px);
    }

    .main>h1 {
        font-size: 32px;
    }

    .main>h3 {
        font-size: 20px;
    }

    .specialistSection {
        grid-template-columns: 100%;
        grid-template-rows: 30% 3fr 3fr;
        grid-template-areas:
            "img"
            "container1"
            "container2";
    }

    .specialistCard {
        width: 80%;
    }

}

@media screen and (min-width: 992px) {
    .main {
        background-position: center;
    }

    .specialistSection {
        height: 500px;
        grid-template-columns:50% 50%;
        grid-template-rows: 20px 1fr 1fr 20px;
        grid-template-areas:
            " .      ."
            "img container1"
            "img container2"
            ". .";
    }

    .sp_img>img {
        width: 70%;
        height: auto;
    }

    .specialistCard {
        width: 80%;
    }
}