* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;

}

a:visited {
    color: initial;
    /* Puedes establecer el color que desees */
    text-decoration: none;
}

:root {
    --bg-color: #bfc0c0;
}

body {
    min-height: 100vh;
}

/* Restar styles */
h4 {
    margin: 0;
    padding: 0;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ------------------------------------BEM COMPONENTS--------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.btn-addPost {
    position: absolute;
    z-index: 1;
    right: 10px;
    top: 10px;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------ROOT-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100vw;
    /* background-color: orange; */
}

.main > h1 {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    z-index: 1;
    padding: 10px;
    color: white;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.8);
}

.carousel {
    position: relative;
    top: 100px;
    max-width: 100vh;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------NAV-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.nav--custom {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    padding: 5px;
}

.color--header {
    background-color: var(--bg-color);
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------SIGUP-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* max-width: 450px; */
    /* width: 450px; */
    border-radius: 10px;
    box-shadow: 1px 1px 2px 0.1px rgba(0, 0, 0, 0.5);
    padding: 10px;
    margin-top: 25px;
    max-width: 520px;
    min-width: 300px;
    width: 90%;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* -----------------------------------------FORO-------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.posts {
    padding: 20px 40px;
    height: calc(100% - 126px);

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color: blue;
}

/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------EXTRAS------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */
/* ----------------------------------------------------------------------------------------- */

.toast {
    /* display: flex !important; */
    z-index: 1;
    position: absolute;
    /* height: 150px !important; */
    bottom: 20px;
    right: 20px;
}