<nav class="navbar navbar--custom sticky-top navbar-expand-lg bg-body-tertiary bg-custom-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Salud Mental</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <% if(locals.userdata){ %>
                    <li class="nav-item">
                            <a class="nav-link " href="#"><%= locals.userdata.n_control %></a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle " href="#" role="button" data-bs-toggle="dropdown"
                            aria-expanded="false">
                            Más
                        </a>
                        <ul class="dropdown-menu">
                            <li><a class="dropdown-item" href="/appointment">Agendar una cita</a></li>
                            <li><a class="dropdown-item" href="#">Recursos de orientación</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="/logout">Cerrar sesión</a></li>
                        </ul>
                    </li>
                    <%if(locals.user.role === "mentor" || locals.user.role === "admin"){ %>
                        <li class="nav-item">
                            <a class="nav-link " href="/appointment/list">Citas</a>
                        </li>
                    <%}%>
                <% }else{ %>
                    <li class="nav-item">
                        <a class="nav-link active " aria-current="page" href="/signup">Registro</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="/login">Iniciar sesión</a>
                    </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link " href="/forum">Foro</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="/about">¿Quienes somos?</a>
                </li>
                
            </ul>
            <!-- <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
            </form> -->
        </div>
    </div>
</nav>