<div class="card text-center">
    <div class="card-header">
        Omar Adrian Acosta Santiago
    </div>
    <div class="card-body">
        <h5 class="card-title">Titulo de la publicacion</h5>
        <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Fugiat, vitae repellat? At blanditiis quidem voluptatum dolorum dolores rem molestiae harum!</p>
        <a href="#" class="btn btn-primary">Ir a la platica</a>
    </div>
    <div class="card-footer text-body-secondary">
        Hace unos minutos
    </div>
</div>